* {
    font: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

html {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    margin: 0;
    background-image: url("../images/grey-paper.jpg");
}

.header {
    width: 100%;
    margin: 0;
    background-color: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    Padding: 10px 0 60px 0;
    color: #dddddd;
    position: relative;
}

.name {
    position: absolute;
    top: 0;
    left: 24.5%;
    Padding: 23px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 25px;
}

.nav {
    background-color: #ffffff;
    position: absolute;
    top: 33.33%;
    right: 24.5%;
}

.nav a {
    background-color: #ffffff;
    padding-left: 5px;
    margin: 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-decoration: none;
}

.nav a:hover {
    background-color: rgb(109, 216, 211, .3);
    cursor: pointer;
}

.nav a:active {
    font-size: 20px;
}

.wrapper2 {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    background-image: url("../images/grey-paper.jpg");
}


.wrapper2 section {
    margin: 30px 24.5% 50px 24.5%;
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    height: 60%;
}


.section-heading {
    color: #4aaaa5;
    padding: 20px 75% 20px 0;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    left: 20px;
}

#contact-info {
    margin: 80px 20px 30px 20px;
    background-color: #ffffff;
    text-align: left;
    font-size: 20px;
    padding: 0px;

}

#contact-info form {
    background-color: #ffffff;
    text-align: left;
    font: 400 "system-ui";
    width: 80%;
}

#contact-info form input {
    background-color: #ffffff;
    text-align: left;

}


.textarea {
    padding: 1px;
    background-color: #ffffff;
    border-width: 1px;
    border-style: ridge;
    padding: 1px;
    border-color: initial;
    width: 124%
}

#message {
    background-color: #ffffff;
    text-align: left;
    margin-top: 5px;
    margin-bottom: -15px;
    height: 80%;
    width: 30%;
}

#contact-info form #submit {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 16px;
}

#contact-info form #submit:hover {
    background-color: rgba(73, 170, 165, 0.3);
    cursor: pointer;
}

#contact-info form #submit:active {
    font-size: 20px;
    background-color: #4aaaa5;
}

footer {
    background-color: #666666;
    width: 100%;
    height: 60px;
    margin: 0;
    color: #ffffff;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #4aaaa5;
    position: fixed;
    bottom: 0;
    text-align: center;
}

footer p {
    background-color: #666666;
    color: #ffffff;
    color: #ffffff;
    margin-top: 2.5%;
    padding-top: .5%;
}

/*First media query takes care of the styling when screen width is between 768px and 980px*/
@media screen and (max-width:980px) and (min-width:769px) {

    .name {
        position: absolute;
        top: 0;
        left: 5%;
    }

    .nav {
        position: absolute;
        top: 25px;
        right: 5%;
    }

    .wrapper2 section {
        height: 60%;
        margin-left: 5%;
        margin-right: 5%;
        float: left;
        width: 65%;
    }


}

/*Second media query takes care of the styling when screen width is between 640px and 768px*/
@media screen and (max-width:768px) and (min-width:641px) {
    .name {
        position: absolute;
        top: 0;
        left: 2.5%;
    }

    .nav {
        background-color: #ffffff;
        position: absolute;
        top: 25px;
        right: 2.5%;
    }

    .wrapper2 section {
        height: 60%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        float: left;
        width: 95%;
    }

    .section-heading {
        position: absolute;
        left: 0;
        padding-top: 21px;
        padding-right: 72%;
        padding-bottom: 21px;
        margin-left: 4%;
    }

    .textarea {
        padding: 1px;
        background-color: #ffffff;
        border-width: 1px;
        border-style: ridge;
        padding: 1px;
        border-color: initial;
        width: 124%
    }
}

/*Third media query takes care of the styling when screen width is smaller than 641px*/
@media screen and (max-width:640px) {
    .header {
        padding: 0;
        magin: 0;
    }


    .name {
        position: static;
        width: 100%;
    }

    .nav {
        width: 100%;
        position: static;
        top: 75px;
        padding: 10px;
        margin: 0;
    }

    .wrapper2 section {
        height: 70%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        float: left;
        /*text-align: center;*/
    }

    .section-heading {
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 21px;
        padding-right: 64%;
        padding-bottom: 21px;
        margin-left: 4%;
    }

    .textarea {
        padding: 1px;
        background-color: #ffffff;
        border-width: 1px;
        border-style: ridge;
        padding: 1px;
        border-color: initial;
        width: 124%
    }
}