@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

* {
    font-family: 'Nunito', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    background-image: url("../images/grey-paper.jpg");

}

.header {
    width: 100%;
    margin: 0;
    background-color: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    Padding: 10px 0 60px 0;
    color: #dddddd;
    position: relative;
}

.name {
    position: absolute;
    top: 0;
    left: 12.5%;
    padding: 21px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 25px;

}


.nav {
    background-color: #ffffff;
    position: absolute;
    top: 25px;
    right: 12.5%;
}

.nav a {
    background-color: #ffffff;
    padding-left: 5px;
    margin: 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-decoration: none
}

.nav a:hover {
    background-color: rgb(109, 216, 211, .3);
    cursor: pointer;
}

.nav a:active {
    font-size: 20px;
}

.wrapper1 {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0;
    background-image: url("../images/grey-paper.jpg");
}

/*section {
    width: 960px;
    height: 60%;
    display: inline-block;
}*/

.wrapper1 section {
    margin: 30px 12.5% 50px 12.5%;
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    height: 60%;
}

/*#section-aboutme {
    margin: 30px 12.5% 50px 12.5%;
    display: inline-block;
    position: relative;
    background-color: #ffffff;
    height: 60%;
}*/

.about-me {
    color: #4aaaa5;
    padding: 21px 78% 21px 0px;
    margin: 0 20px 0 20px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    left: 0;
}

/*.section-heading {
    color: #4aaaa5;
    padding: 20px 780px 20px 0px;
    margin: 0 -38px 0 65px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 1px;
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    left: 117px;
}*/

.portrait {
    float: left;
    margin: 85px 25px 20px 25px;
    border-radius: 50%;
}

.introduction {
    margin: 80px 20px 30px 20px;
    background-color: #ffffff;
    text-align: left;
    font-size: 20px;
    padding: 0px;
    line-height: 1.5em;
}


footer {
    background-color: #666666;
    width: 100%;
    height: 60px;
    margin: 0;
    color: #ffffff;
    border-top-style: solid;
    border-top-width: 5px;
    border-top-color: #4aaaa5;
    position: fixed;
    bottom: 0;
    text-align: center;
}

footer p {
    background-color: #666666;
    color: #ffffff;
    margin-top: 2.5%;
    padding-top: .5%;
}

/*about-me needs to be fixed to avoid two lines between 981px to 993 px;*/
@media screen and (max-width:993) and (min-width:981) {}

.about-me: {
    font-size: 23px;

}
}

/*First media query takes care of the styling when screen width is between 768px and 980px*/
@media screen and (max-width:980px) and (min-width:922px) {

    .name {
        position: absolute;
        top: 0;
        left: 5%;
        padding: 21px;
        background-color: #4aaaa5;
        color: #ffffff;
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        font-weight: bold;
        font-size: 25px;
    }

    .nav {
        background-color: #ffffff;
        position: absolute;
        top: 25px;
        right: 5%;
    }

    .wrapper1 section {
        height: 60%;
        margin-left: 5%;
        margin-right: 5%;
        float: left;
        width: 65%;
    }

    /* #section-aboutme {
        height: 60%;
        margin-left: 5%;
        float: left;
        width: 65%;
    }*/

    .about-me {
        position: absolute;
        left: 0;
        padding-top: 21px;
        padding-right: 72%;
        padding-bottom: 21px;
        margin-left: 4%;
    }
}

/*the about me text padding needs to be fixed between 769 to 922px*/
@media screen and (max-width:769px) and (min-width:922px) {
    .about-me {
        padding-right: 67%;
    }
}

@media screen and (max-width:922px) and (min-width:769px) {

    .name {
        position: absolute;
        top: 0;
        left: 5%;
        padding: 21px;
        background-color: #4aaaa5;
        color: #ffffff;
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        font-weight: bold;
        font-size: 25px;
    }

    .nav {
        background-color: #ffffff;
        position: absolute;
        top: 25px;
        right: 5%;
    }

    .wrapper1 section {
        height: 60%;
        margin-left: 5%;
        margin-right: 5%;
        float: left;
        width: 65%;
    }

    /* #section-aboutme {
        height: 60%;
        margin-left: 5%;
        float: left;
        width: 65%;
    }*/

    .about-me {
        position: absolute;
        left: 0;
        padding-top: 21px;
        padding-right: 67%;
        padding-bottom: 21px;
        margin-left: 4%;
    }
}

/*Second media query takes care of the styling when screen width is between 640px and 768px*/
@media screen and (max-width:768px) and (min-width:641px) {
    .name {
        position: absolute;
        top: 0;
        left: 2.5%;
        padding: 21px;
        background-color: #4aaaa5;
        color: #ffffff;
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        font-weight: bold;
        font-size: 25px;
    }

    .nav {
        background-color: #ffffff;
        position: absolute;
        top: 25px;
        right: 2.5%;
    }

    .wrapper1 section {
        height: 60%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        float: left;
        width: 95%;
    }

    /* #section-aboutme {
        height: 60%;
        margin-left: 5%;
        float: left;
        width: 65%;
    }*/

    .about-me {
        position: absolute;
        left: 0;
        padding-top: 21px;
        padding-right: 72%;
        padding-bottom: 21px;
        margin-left: 4%;
    }
}

/*Third media query takes care of the styling when screen width is smaller than 641px*/
@media screen and (max-width:640px) {
    .header {
        padding: 0;
        magin: 0;
    }


    .name {
        position: static;
        width: 100%;
        padding: 21px;
        background-color: #4aaaa5;
        color: #ffffff;
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        font-weight: bold;
        font-size: 25px;
        margin: 0;
    }

    .nav {
        width: 100%;
        background-color: #ffffff;
        position: static;
        top: 75px;
        padding: 10px;
        margin: 0;
    }

    .wrapper1 section {
        height: 60%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        float: left;
        width: 95%;
        /*text-align: center;*/
    }

    /* #section-aboutme {
        height: 60%;
        margin-left: 5%;
        float: left;
        width: 65%;
    }*/

    .about-me {
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 21px;
        padding-right: 64%;
        padding-bottom: 21px;
        margin-left: 4%;
    }

    .portrait {
        float: none;
        margin: 25% 10% 10% 10%;
    }

    .introduction {
        margin: 0 20px 30px 20px;
    }
}

/*when screen width < 473px, change font size to be smaller*/
@media screen and (max-width:473px) {
    .about-me {
        font-size: 18px;
    }

    .introduction {
        font-size: 16px;
    }
}