* {
    font:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-color:#dddddd;
}

html {
    margin:0;
    padding:0;
    text-align: center;
}
body {
    margin:0;
}

.header {
    margin:0;
    background-color: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-style:solid;
    border-bottom-width:1px;
    Padding:10px 0 60px 0;
    color: #dddddd;
}

.name {
    position:absolute;
    top:0;
    left:161px;
    Padding: 21px;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size:25px;

}

.nav {
    background-color: #ffffff;
    position:absolute;
    top:25px;
    right:161px; 
}

.nav a {
    background-color:#ffffff;
    padding-left:5px;
    margin:0;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-decoration: none;
}


.wrapper {
    width:960px;
    display:inline-block;
    margin:0;
}


.wrapper section {
    background-color: #ffffff;
    margin:30px 0 50px 0;
}

#about-me {
    color:#4aaaa5;
    padding: 20px 790px 20px 0px;
    margin: 0 -38px 0 65px;
    border-bottom-style:solid;
    border-bottom-color:#cccccc;
    border-bottom-width: 1px;
    background-color:#ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    font-size:25px;
    position:absolute;
    left:117px;
}
#about-content {
    margin:80px 0 40px 0;
    background-color: #ffffff;
}

#introduction {
    margin:80px 20px 30px 20px;
    background-color:#ffffff;
}

/*#introduction img {
    position: absolute;
    left:20px;
}*/

.section-heading {
    color:#4aaaa5;
    padding:
}

.fixed-portrait {
    position:fixed;
    margin:0;
    top:0;
    left:0;

}


footer {
    background-color: #666666;
    padding:30px 0 0 0;
    margin:0;
    color:#ffffff;
    border-top-style:solid;
    border-top-width:5px;
    border-top-color:#4aaaa5;
}